.adres {
  font-style: normal;
}
.adres_real {
  margin-bottom: 9px;
  a {
    color: var(--button-text-color);
  }
}
.adres_mail {
  margin-bottom: 9px;
}
.adres_real--link {
  color: var(--beckground-color);
  @include font(null, null, 1.8, 0.02em);
  text-decoration: none;
  // line-height: 1.7;
  // letter-spacing: 0.03em;
  transition: color var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.adres-link {
  color: var(--adress-color);
  text-decoration: none;
  @include font(null, null, 1.7, 0.03em);
  // line-height: 1.7;
  // letter-spacing: 0.03em;
  transition: color var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
