.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-section-list {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer-section {
  display: flex;
  align-items: baseline;
}
.footer-icon {
  justify-content: flex-start;
}
.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-svg {
  fill: var(--button-text-color);
}
.footer-text {
  margin-bottom: 20px;
  @include font(14px, bold, 1.14, 0.03em);
  // font-weight: bold;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
}
.footer-section-list_logo {
  margin-bottom: 20px;
  text-decoration: none;
}
