.logo {
  color: var(--primary-text-color);
  margin: auto;
}
.logo--two {
  color: var(--accent-color);
}
.logo--three {
  color: var(--logo-color);
}
.logo,
.logo--two,
.logo--three {
  font-family: Raleway, sans-serif;
  // @include font(26px, bold, 1.2, null);
  @include font(24px, bold, 1.2, 0.03em);
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}
