:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --beckground-color: rgba(255, 255, 255, 1);
  --text-color: rgba(117, 117, 117, 1);
  --hero-color: rgba(47, 48, 58, 1);
  --button-color: rgba(245, 244, 250, 1);
  --button-text-color: #fff;
  --button-header-color: rgba(33, 150, 243, 1);
  --logo-color: rgb(245, 238, 238);
  --adress-color: rgba(255, 255, 255, 0.6);
  --comand-background-color: rgba(245, 244, 250, 1);
  --filter-color: #212121;
  --filter-item-color: #757575;
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --icon-color: rgba(175, 177, 184, 1);
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
